<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Repository</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Repository</h1>

	<ul th:each="repo : ${repository}">
		<li>
			<p th:text="${repo.name}"></p>
			
			<div th:if="${repo.type eq 'folder'}">
				<form action="/show/repository" method="post">
					<input name="path" type="hidden" th:value="${repo.path}" />
					<input name="name" type="hidden" th:value="${repo.name}" />
					<input type="submit" value="Afficher folder" />
				</form>
			</div>

			<div th:unless="${ repo.type eq 'folder'}">
				<form action="/show/file" method="post">
					<input name="path" type="hidden" th:value="${repo.path}" />
					<input name="name" type="hidden" th:value="${repo.name}" />
					<input type="submit" value="Afficher file" />
				</form>
			</div>
		</li>
	</ul>
</body>
</html>
